mixin catalogCaseCard(src, title, href)
    .catalogCaseCard 
        a(href=href).catalogCaseCard__img 
            img(src=src alt="")
        .catalogCaseCard__title= title
        a(href=href).catalogCaseCard__link
            p Подробнее

mixin catalogCaseSlider(title)
    section.catalog-case
        .containers
            .catalog-case__containers
                .catalog-case__content 
                    .catalog-case__content-title= title
            .catalog-case__slider(class!= attributes.class)
                .swiper.catalogCaseSlider
                    .swiper-wrapper
                        each _, i in Array(7)
                            .swiper-slide 
                                +catalogCaseCard('./img/index/indexCase/photo.png', 'Проектный институт', '/')
                .swiper-controls
                    .swiper-button-next
                        img(src="./svg/index/indexCase/arrow-next.svg" alt="")
                    .swiper-button-prev
                        img(src="./svg/index/indexCase/arrow-prev.svg" alt="")