include Header/mixin.pug
include Footer/mixin.pug
include FormBase/mixin.pug
include FormFile/mixin.pug
include Team/mixin.pug
include Space/mixin.pug
include Feedback/mixin.pug
include mainBanner/mixin.pug
include pages/Connect/ConnectContent/mixin.pug
include pages/Index/IndexMain/mixin.pug
include pages/Index/IndexEquipment/mixin.pug
include pages/Index/indexCatalogLink/mixin.pug
include pages/Index/indexNews/mixin.pug
include pages/Index/indexSteps/mixin.pug
include pages/Index/indexAbout/mixin.pug
include pages/Index/indexCase/mixin.pug
include pages/Index/indexLink/mixin.pug
include pages/Cases/casesBase/mixin.pug
include pages/Cases/casesDescription/mixin.pug
include Helper/mixin.pug
include pages/Catalog/CatalogBanner/mixin.pug
include pages/Catalog/CatalogTable/mixin.pug
include pages/Catalog/CatalogCase/mixin.pug
include pages/Catalog/CatalogCase/mixin.pug
include pages/Catalog/CatalogStages/mixin.pug
include pages/Catalog/CatalogMain/mixin.pug
include pages/Catalog/CatalogRequest/mixin.pug
include pages/Catalog/CatalogText/mixin.pug
include pages/Catalog/CatalogAddition/mixin.pug
include pages/Catalog/CatalogList/mixin.pug
include pages/Catalog/CatalogDescription/mixin.pug
include pages/Catalog/CatalogCollection/mixin.pug
include pages/News/NewsList/mixin.pug
include pages/NewsDetail/mixin.pug
include pages/About/AboutSng/mixin.pug
include pages/About/AboutMission/mixin.pug
include pages/About/AboutLink/mixin.pug
include pages/About/AboutСharact/mixin.pug
include pages/Articles/ArticlesMain/mixin.pug
include pages/Contact/ContactMain/mixin.pug
include pages/Contact/ContactGeo/mixin.pug
include pages/Helper/HelperQuestion/mixin.pug
include pages/Helper/HelperArticles/mixin.pug
include modals/ModalFeedback/mixin.pug
include modals/ModalCollection/mixin.pug

//- Mixin

mixin buttonYellow(text)
    button.buttonYellow= text
        img(src="./svg/mixin/arrow-link.svg" alt="").buttonYellow__img

mixin buttonGray(text)
    button.buttonGray= text

mixin videoPlaceholder(src)
    .videoPlaceholder__video 
            img(src=src alt="")
            .videoPlaceholder__player
                p Воспроизвести 
                    br 
                    | видео
                img(src="./svg/index/indexMain/play.svg" alt="")

mixin additionCard(src, title, subtitle)
    .additionCard
        .additionCard__banner 
            img(src=src alt="")
        .additionCard__content
            h5.additionCard__content-title= title
            p.additionCard__content-subtitle= subtitle 
            a(href="").additionCard__content-button 
                p Подробнее