mixin indexCaseSelect
    .indexCaseSelect
        .indexCaseSelect-placeholder Архив
        .indexCaseSelect-block(style="display: none") 
            .indexCaseSelect-wrapper 
                a(href="https://google.com" class="indexCaseSelect-element indexCaseSelect-element-active") Архив
                a(href="https://google.com" class="indexCaseSelect-element") Архив 1 
                a(href="https://google.com" class="indexCaseSelect-element") Архив 2 
                a(href="https://google.com" class="indexCaseSelect-element") Архив 3 
                a(href="https://google.com" class="indexCaseSelect-element") Архив 4 
                a(href="https://google.com" class="indexCaseSelect-element") Архив 5 

mixin indexCaseCard(src, title, text, href)
    .indexCaseCard 
        a(href=href).indexCaseCard__img 
            img(src=src alt="")
        .indexCaseCard__title= title
        .indexCaseCard__text= text
        a(href=href).indexCaseCard__link
            p Подробнее